*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
  .navigation
  a{
  text-decoration: none;
  color: rgb(12, 8, 206);
  font-weight: 500;
  font-size:  1.1em;
  padding-left: 30px;
   
  }
  .navigation a:hover{
    color: blueviolet;
  }
  section{
    padding: 100px 200px;
   }
  .main {
    width: 100%;
   min-height: 100vh;
   display: flex;
   align-items: center;
   background:url(fotograf/r.jpg) no-repeat ;
   background-size: cover;
   background-position:center;
  background-attachment: fixed;
  
  
  }
  .main h2{
  font-size: 1.4em;
  color: white;
   font-weight: 500;
  }
  .main h2 span{
    background-color: rgb(1, 4, 7);
    display: inline-block;
    margin-top: 10px;
  color: rgb(19, 19, 209);
  font-size: 3em;
  font-weight: 600;
  border-radius: 15px;
  }
  .main h3 {
  color: azure;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 10px;
  margin-bottom: 30px;
  
  }
  
  .main-btn {
     
  color: aliceblue;
  background-color: rgb(26, 22, 233);
  text-emphasis: none;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 600;
  display: inline-block;
  padding: 0.9375em 2.1875em;
  letter-spacing: 1px;
  border-radius: 15px;
  margin-bottom: 40px;
  transition: 0.6s ease;
  }
  .main-btn:hover {
  background-color: blue;
  transform: scale(1.1);
  
  }
  .social-icons a {
  
  color: rgb(229, 229, 235);
  letter-spacing: 30px;
  font-size: 1.7em;
  }
  .title {
  color: rgb(141, 12, 8);
  background-color: rgb(175, 169, 86);
  display: flex;
  justify-content:center;
  font-size: 2.2em;
  font-weight: 800;
  margin-bottom: 30px;
  }
  .content {
    display: flex;
    justify-content: center;
    flex-direction: row;
  flex-wrap: wrap;
  }
  .card
  {
  background-color: rgb(226, 204, 77);
  width: 20em;
  box-shadow: 0 5px 25px rgba(1 1 1 /25%);
  border-radius: 10px;
  padding: 25px;
  margin: 10px;
  transition: 0.8s ease;
  }
  .card:hover{
  transform: scale(1.1);
  
  
  }
  .info{ 
  
    text-align: center;
  }
  .main-btn span{
    font-size: 0.7em;
  }
  .info h3{
  color: rgb(134, 78, 5);
  font-size: 1.2em;
  margin: 10px;
  font-weight: 700;
  
  }
  .info p{
    color: rgb(194, 120, 9);
  }
  .icon{
  color: rgb(151, 8, 8);
  font-size: 8em;
  text-align: center;
  
  }
  .title1 {
    color: rgb(16, 4, 124);
    background-color: rgb(71, 144, 238);
    display: flex;
    justify-content:center;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    }
    .content1 {
      display: flex;
      justify-content: center;
      flex-direction: row;
    flex-wrap: wrap;
    }
    .card1
    {
    background-color: rgb(8, 97, 214);
    width: 20em;
    box-shadow: 0 5px 25px rgba(1 1 1 /25%);
    border-radius: 10px;
    padding: 25px;
    margin: 10px;
    transition: 0.8s ease;
    }
    .card1:hover{
    transform: scale(1.1);
    
    
    }
    .info1{ 
    
      text-align: center;
    }
    .info1 h3{
    color: rgb(219, 225, 233);
    font-size: 2em;
    margin: 10px;
    font-weight: 700;
    
    }
    .info1 p{
      color: rgb(6, 5, 78);
      font-size: large;
    }
    .icon1{
    color: rgb(228, 229, 240);
    font-size: 8em;
    text-align: center;
    
    }
    .f{
      background-color: black;
      color: rgb(26, 138, 236);
      padding: 2em;
      display: flex;
      justify-content: space-between;
  
    }
    .f span{
      color: rgb(229, 228, 240);
    font-size: 2em;
    }
  .soc a{
    color: rgb(208, 208, 219);
  letter-spacing: 10px;
  font-size: 1.7em;
  }
  @media (max-width:1023px){
    header {
      padding: 12px 20px;
    }
    .navigation a{
      padding-left: 10px;
    }
    .title{
      font-size: 1.8em;
    }
    .title1{
      font-size: 1.8em;
    }
    section{
      padding: 80px 20px;
    }
    .main h2{
   font-size:1em;   
    }
    .main h3{
      font-size:1.6em;   
       }
       .content{
         flex-direction: column;
         align-items: center;
       }
       .content1 {
        flex-direction: column;
        align-items: center;
      } 
    }
    @media (max-width:641px){
  body{
    font-size: 12px;
  }
  .main h2{
    font-size: 0.8em;
  }
  .main h3{
    font-size: 1.4em;
  }
  
    }
  
  @media (max-width:300px){
    body{
      font-size: 10px;
    }
  }